
.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 48%;
    color: #676767;
}
.contact-col h3{
    color: #000f38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
}
.contact-col p{
    max-width: 450px;
    line-height: 1.3;
}
.contact-col ul li{
display: flex;
align-items: center;
margin: 20px 0;
}
.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}
.button-m{
    background: rgb(47, 47, 189);
  color: white;
  padding: 9px 15px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button-m img{
    width: 16px;
    margin-left: 6px;
}
.contact form input, .contact form textarea{
display: block;
width: 100%;
background: #ebecfe;
padding: 15px;
border: 0;
outline: 0;
margin-bottom: 15px;
margin-top: 5px;
resize: none;
}
.contact-col span{
    display: block;
    margin: 20px 0px;
}


/* ----- media query ------ */

@media (min-width:1029px) {

}

@media (max-width:666px) {
.contact .contact-col h3{
    font-size: 20px;
}
}

@media (max-width:588px) {
.contact{
    display: block;
}
.contact-col{
    padding: 20px;
}
}



@media (max-width:340px) {
    .contact .contact-col h3{
        font-size: 13px;
    }
}

@media (max-width:270px) {
    .contact .contact-col h3{
        font-size: 10px;
    }
}

@media (max-width:226px) {
    .contact .contact-col h3{
        font-size: 8px;
    }
}